<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radioactive.prosperous.shuta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".student_Timetable" />
        <activity android:name=".Shuta_About" />
        <activity android:name=".student_OptionalCourse" />
        <activity android:name=".student_Results" />
        <activity android:name=".student_Courses" />
        <activity android:name=".StaffProfile" />
        <activity android:name=".StaffRegister" />
        <activity android:name=".StaffLogin" />
        <activity android:name=".studentProfile" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
    </application>

</manifest>